.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.left {
    transform: translateX(-10%);
}

.right {
    transform: translateX(10%);
}

.up {
    transform: translateY(-20%);
}

.down {
    transform: translateY(20%);
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0px);
}