<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Facts Python Web Developement Project in Python</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='observe.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}" defer></script>
</head>
<body>
    <nav>
        <img src="{{ url_for('static', filename='logo.png') }}" width="70px">
        <ul>
            <li><a style="margin-right: 20px;" href="./">Home</a><a style="margin-left: 20px;" href="./facts">Facts</a></li>
        </ul>
    </nav>
    <main>
        <div class="hidden down" id="about" style="padding: 10px; height: max-content; display: grid; grid-template-columns: 100%; grid-template-rows: 70px 175px 112px; place-items: center;">
            <h2 style="text-align: center;">About the Project</h2>
            <img style="margin: 0px auto; text-align: center;" src="{{ url_for('static', filename='logo.png') }}" width="150px">
            <p>
                This project is a website built with Python, HTML, CSS, & JS.
                This project uses flask for developing the backend of the website.
                Flask is a micro web framework written in Python.
                Flask is used to build the backend of a website.
                An alternative to Flask is node.js which uses node.js to build teh backend of any website.
                Flask is used with Python as the backend to be integrated with the frontend with HTML, CSS, & JS.
            </p>
        </div>
    </main>
</body>
</html>